Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@yashdhaduti 
stephen8chang
/
project-ryde
1
0
0
Code
Issues
14
Pull requests
2
Actions
Projects
1
Wiki
Security
Insights
project-ryde/frontend/src/App.css
@Reine0017
Reine0017 first commit'
Latest commit fd0bc97 on Jan 3
 History
 1 contributor
38 lines (33 sloc)  564 Bytes
  
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
